:root {
  --navbg: #0a0a23;
  --bg1: #ece9e9;
  --bg2: #fff;
  --bg3: #aaaeab;
  --text1: black;
  --text2: #333;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg2);
}

.topbar {
  height: 14%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--navbg);
  overflow-x: hidden;
  padding-top: 5px;
}


.topbarHeading {
  /* text-align: center; */
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navbg);
  color: white;
}

li {
  float:left;
  padding-left: 10px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #5c5e62;
  color: rgba(238, 238, 36, 0.667);
  font-size: 18px;
  border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}

.active{
  background-color: #5c5e62;
  color: orange;
  border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}

.main {
  margin-top: 6.69%;
  /* Same as the width of the sidebar */
  /* Same as the width of the sidebar */
  padding: 0px 10px;
  position: absolute;
  background-color: var(--bg2);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
}

.recommendedproducts {
  padding: 20px;
}

.productCard {
  /* border-radius: 10px 50px; */
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  margin-bottom: 15px;
  height: 240px;
  width: 200px;
  background-color: var(--bg2);
  /* box-shadow: 2px 2px 1px 2px; */
  border: 2px solid #ddd;

}

.productImg{
  max-height: 70%;
  max-width: 70%;
  object-fit: contain}

.productId {
  margin-top: 20px;
  text-decoration: none;
  font-size: 10px;
  color: var(--text2);
  display: block;
}

.productTitle {
  text-decoration: none;
  font-size: 12px;
  color: var(--text2);
  display: block;
  word-wrap: break-word;
}

.flexHeader {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  padding: 8px;
  margin-top: 4px;
}

.form {
  background-color: var(--bg1);
  border-radius: 20px;
  box-sizing: border-box;
  height: 160px;
  padding: 20px;
  width: 320px;
  margin-left: 1%;
  position: inherit;
  margin-top: 40px;
}

.form>label {
  color: var(--text2);
  margin: 5px;
}

.form>input {
  width: 70%;
}

.form>button {
  margin-left: 80%;
  margin-top: 4%;
}

.chart {
  height: 240px;
  width: 240px;
  margin-top: 240px;
  padding-left:60px ;
  padding-right:60px ;
}

.charts {
  display: flex;
  align-items: center;
  justify-content: center;
}
